@import '../../../../styles/colors.module.scss';

.sectionTitle{
    font-size: 20px;
    font-weight: bold;
}
.slideSection{
    margin-bottom: 50px;
    &:hover{
        border-color: $lightBlue;
        background-color: transparent;
        color: $lightGray;
    }
}
.total{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}