@import "../../../../styles/colors.module.scss";
.header{
    background-color: #151515;
}
.headerContainer{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 20px 0px;
 gap: 24px;
}
.headerLogo{
    width: 320px;
    height: 80px;
    cursor: pointer;
   
}

.headerBtn:hover{
    border-color: $lightBlue;
    background-color: transparent;
    color: $lightGray;
    
}
.button{
    display: flex;
    align-items: center;
}
@media(max-width:575px){
    .headerContainer{
        padding: 20px 16px;

    }
}
@media(max-width:498px){
    .headerContainer{
        justify-content: center;
    }
}
@media(max-width:330px){
    .headerLogo{
        width: 95%;
    }
}