@use "../../../../styles/colors.module.scss";

.title{
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    width: 600px;
}
.description{
    font-size: 26px;
    color: colors.$lightGray;
    
}
.buttonImg{
    width: 40px;
}