@use "../styles/colors.module.scss";
.div{
    min-height: 90vh;
}
.main{
    display: flex;
   
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    background-color: black;
  
   
}
.container{
    width: 320px;
    height: 460px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    text-overflow: clip;
    overflow: hidden;
    transition: 0.4s;
    margin: 30px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    &:hover{
        border:2px solid;
            border-color: colors.$lightBlue;
           
            
        
    }
   
}
.title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
 
    
}
.subtitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.input{
border-color: colors.$darkGray;
color: white;
background-color: transparent;
margin-bottom: 12px;


&::placeholder{
    color: colors.$lightGray;
    text-transform: none;
}
&:focus{
    background-color: black;
    border-color: colors.$lightGray;
    box-shadow: none;
    color: white
}}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 30px;
    margin: 5px;
    

}
.btn2{
    @extend .btn;
    padding: 10px 35px;
    
}
.slide{
    width:100%;
    height: 120px;
    width: 100px;
}
.main2{
    @extend .main;
      min-height: 90vh;
    background-image: linear-gradient(to bottom, #8b8b8b1a, #151515),url("/comandasApp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.main4{
    @extend .main;
    min-width: 100%;
    background-image: linear-gradient(to bottom,  #8b8b8b1a, #151515),url("/sobremesa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
  text-align: center;
  max-width: 800px;
  width: 100%;
}


.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.content{
    margin-bottom: 20px;
    max-width: 800px;
}
.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.contactButton {
  background-color: #34d399;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.contactButton:hover {
  background-color: #059669;
}

.slideImg{
    height: 200px;
    width: 280px;
}
.table{
    margin: 10px;
    width: 90%;
    border: 2px solid white;
   table-layout: fixed;
    background-color: black ;
    color: white;
     
}
.row{
    border: 1px solid white;
  padding:5px;
  gap: 10px;
  color: white;
  font-size: 16px;
    word-break: break-word;

  &:hover{
color: colors.$lightBlue;
  }
}
.Img{
    width: 50px;
    height: 50px;
}
.rowImg{
    width: 50px;
}
.total{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.clickableRow{
    cursor: pointer;
    transition: 0.3s;
    
    &:hover{
    color: colors.$lightBlue;
    }
}
@media(max-width:766px){
    .row{
        font-size: 10px;
        padding: 0px;
        gap: 0px;
    }
    .Img{
        width: 100%;
    }
 
}
@media(max-width:380px){
  .row{
    font-size: 8px;
      padding:0px;
  gap: 0px;
  }
}